In [1]:
import pandas as pd
import numpy as np
from datetime import date

from ctgan import CTGANSynthesizer
from table_evaluator import load_data, TableEvaluator

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
features_data = pd.read_csv("features_data.csv")
equity_value_data = pd.read_csv("equity_value_data.csv")

In [3]:
'''Function to extract date in %%y-%%m-%%d'''
def todate(timestamp):
    
    s = timestamp.split("-")
    year = s[0]
    month = s[1]
    date = s[2] 
    date = year+'-'+month+'-'+date[0]+date[1]
    return date


'''Function to get the difference between the dates'''
def date_diff(date_,date1_):
    
    d = date_.split("-")
    d_ = date1_.split("-")
    
    d0 = date(int(d[0]), int(d[1]), int(d[2]))
    d1 = date(int(d_[0]), int(d_[1]), int(d_[2]))
    delta = d1 - d0
    return delta.days

In [4]:
'''To create date column in equity_value_data'''
equity_value_data['date'] = equity_value_data['timestamp'].apply(todate)
equity_value_data.head()

,timestamp,close_equity,user_id,date
0,2016-11-16T00:00:00Z,48.16,bcef4fa9b0bdf22bcf7deae708decf03,2016-11-16
1,2016-11-17T00:00:00Z,48.16,bcef4fa9b0bdf22bcf7deae708decf03,2016-11-17
2,2016-11-18T00:00:00Z,48.16,bcef4fa9b0bdf22bcf7deae708decf03,2016-11-18
3,2016-11-21T00:00:00Z,48.16,bcef4fa9b0bdf22bcf7deae708decf03,2016-11-21
4,2016-11-22T00:00:00Z,48.16,bcef4fa9b0bdf22bcf7deae708decf03,2016-11-22

In [5]:
%%time

##############################################################################################################
#####################  Calculating Churn user by applying 28 consecutive days condition  #####################
##############################################################################################################

cnt = 0

#To save Churn users
churn_user = []

for i in range(len(equity_value_data['user_id'])-1):
    
    if equity_value_data['user_id'][i] == equity_value_data['user_id'][i+1]:
        
        days = date_diff(equity_value_data['date'][i],equity_value_data['date'][i+1])
        
        if days >=28 and (equity_value_data['user_id'][i] not in churn_user):
            
            churn_user.append(equity_value_data['user_id'][i])
            cnt += 1

            
Total_User = len(features_data['user_id'])

print("Total user: ", Total_User)
print("Total churn user: ", cnt)
print("Percentage: ",round(cnt / Total_User * 100, 2),"%")

Total user:  5584
Total churn user:  279
Percentage:  5.0 %
Wall time: 23.6 s

In [7]:
'''Adding Churn feature in the features_data'''

features_data['Churn'] = 0
for i in range(len(features_data['user_id'])):
    if features_data['user_id'][i] not in churn_user:
        features_data['Churn'][i] = 'No'
    else:
        features_data['Churn'][i] = 'Yes'

In [8]:
data = features_data.copy()
data.head()

,risk_tolerance,investment_experience,liquidity_needs,platform,time_spent,instrument_type_first_traded,first_deposit_amount,time_horizon,user_id,Churn
0,high_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,33.129417,stock,40.0,med_time_horizon,895044c23edc821881e87da749c01034,No
1,med_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,16.573517,stock,200.0,short_time_horizon,458b1d95441ced242949deefe8e4b638,No
2,med_risk_tolerance,limited_investment_exp,very_important_liq_need,iOS,10.008367,stock,25.0,long_time_horizon,c7936f653d293479e034865db9bb932f,No
3,med_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,1.031633,stock,100.0,short_time_horizon,b255d4bd6c9ba194d3a350b3e76c6393,No
4,high_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,8.187250,stock,20.0,long_time_horizon,4a168225e89375b8de605cbc0977ae91,No

In [9]:
data.drop('user_id', axis = 1, inplace= True)

In [10]:
categorical_features = ['risk_tolerance', 'investment_experience', 'liquidity_needs',
       'platform', 'instrument_type_first_traded', 'time_horizon', 'Churn']

In [11]:
ctgan = CTGANSynthesizer(verbose=True)
ctgan.fit(data, categorical_features, epochs = 100)

Epoch 1, Loss G:  1.3516, Loss D: -0.1437
Epoch 2, Loss G:  1.1147, Loss D: -0.5408
Epoch 3, Loss G:  0.5772, Loss D: -0.3705
Epoch 4, Loss G:  0.5602, Loss D: -0.2406
Epoch 5, Loss G:  0.7514, Loss D: -0.0292
Epoch 6, Loss G:  0.9225, Loss D: -0.1064
Epoch 7, Loss G:  0.6510, Loss D: -0.0281
Epoch 8, Loss G:  0.6055, Loss D:  0.0672
Epoch 9, Loss G:  0.5385, Loss D:  0.1703
Epoch 10, Loss G:  0.5306, Loss D: -0.0354
Epoch 11, Loss G:  0.5784, Loss D: -0.1107
Epoch 12, Loss G:  0.2695, Loss D: -0.0701
Epoch 13, Loss G:  0.2130, Loss D:  0.1138
Epoch 14, Loss G:  0.2568, Loss D: -0.0003
Epoch 15, Loss G:  0.4089, Loss D:  0.0390
Epoch 16, Loss G:  0.4213, Loss D: -0.0607
Epoch 17, Loss G:  0.5184, Loss D:  0.0177
Epoch 18, Loss G:  0.3438, Loss D:  0.1486
Epoch 19, Loss G:  0.1660, Loss D: -0.0632
Epoch 20, Loss G: -0.0663, Loss D:  0.0634
Epoch 21, Loss G: -0.2298, Loss D:  0.1459
Epoch 22, Loss G: -0.0698, Loss D:  0.0601
Epoch 23, Loss G:  0.0209, Loss D: -0.0523
Epoch 24, Loss G: -0.0200, Loss D:  0.0474
Epoch 25, Loss G: -0.1043, Loss D:  0.0501
Epoch 26, Loss G: -0.2318, Loss D: -0.1621
Epoch 27, Loss G: -0.2846, Loss D:  0.2618
Epoch 28, Loss G: -0.0957, Loss D: -0.0334
Epoch 29, Loss G: -0.0253, Loss D: -0.1199
Epoch 30, Loss G: -0.2124, Loss D:  0.1285
Epoch 31, Loss G: -0.1957, Loss D: -0.0970
Epoch 32, Loss G: -0.3025, Loss D:  0.1002
Epoch 33, Loss G: -0.3120, Loss D: -0.0069
Epoch 34, Loss G: -0.0174, Loss D: -0.0379
Epoch 35, Loss G: -0.1638, Loss D: -0.0341
Epoch 36, Loss G: -0.1723, Loss D: -0.0973
Epoch 37, Loss G: -0.3194, Loss D:  0.0641
Epoch 38, Loss G: -0.2670, Loss D: -0.1392
Epoch 39, Loss G: -0.2344, Loss D:  0.0034
Epoch 40, Loss G: -0.3427, Loss D:  0.0701
Epoch 41, Loss G: -0.3657, Loss D: -0.1719
Epoch 42, Loss G: -0.7667, Loss D: -0.0101
Epoch 43, Loss G: -0.6610, Loss D: -0.0217
Epoch 44, Loss G: -0.5914, Loss D: -0.0263
Epoch 45, Loss G: -0.7460, Loss D:  0.0817
Epoch 46, Loss G: -0.7499, Loss D: -0.0413
Epoch 47, Loss G: -0.6875, Loss D:  0.0312
Epoch 48, Loss G: -0.6816, Loss D: -0.0339
Epoch 49, Loss G: -0.6888, Loss D: -0.0893
Epoch 50, Loss G: -0.7581, Loss D:  0.0437
Epoch 51, Loss G: -0.5666, Loss D: -0.0913
Epoch 52, Loss G: -0.5911, Loss D: -0.1612
Epoch 53, Loss G: -0.5529, Loss D: -0.0152
Epoch 54, Loss G: -0.8668, Loss D:  0.1439
Epoch 55, Loss G: -0.8471, Loss D: -0.1264
Epoch 56, Loss G: -1.0493, Loss D: -0.1131
Epoch 57, Loss G: -1.2010, Loss D:  0.1010
Epoch 58, Loss G: -0.8230, Loss D: -0.0385
Epoch 59, Loss G: -0.7996, Loss D:  0.0340
Epoch 60, Loss G: -1.0430, Loss D:  0.0702
Epoch 61, Loss G: -0.9658, Loss D: -0.1034
Epoch 62, Loss G: -1.2696, Loss D: -0.0479
Epoch 63, Loss G: -1.4792, Loss D:  0.1178
Epoch 64, Loss G: -1.1985, Loss D:  0.0246
Epoch 65, Loss G: -0.9430, Loss D: -0.0250
Epoch 66, Loss G: -1.0829, Loss D:  0.0780
Epoch 67, Loss G: -1.2014, Loss D: -0.1298
Epoch 68, Loss G: -1.1515, Loss D: -0.2050
Epoch 69, Loss G: -1.2972, Loss D: -0.0337
Epoch 70, Loss G: -1.4265, Loss D: -0.0352
Epoch 71, Loss G: -1.2596, Loss D:  0.0617
Epoch 72, Loss G: -1.3818, Loss D:  0.0684
Epoch 73, Loss G: -1.4167, Loss D: -0.0684
Epoch 74, Loss G: -1.5173, Loss D:  0.1870
Epoch 75, Loss G: -1.4177, Loss D: -0.0007
Epoch 76, Loss G: -1.3773, Loss D: -0.0149
Epoch 77, Loss G: -1.3306, Loss D:  0.0062
Epoch 78, Loss G: -1.4422, Loss D:  0.0546
Epoch 79, Loss G: -1.5815, Loss D: -0.0283
Epoch 80, Loss G: -1.6509, Loss D:  0.0562
Epoch 81, Loss G: -1.5396, Loss D: -0.0589
Epoch 82, Loss G: -1.4130, Loss D:  0.0654
Epoch 83, Loss G: -1.3530, Loss D: -0.0270
Epoch 84, Loss G: -1.3394, Loss D: -0.0263
Epoch 85, Loss G: -1.4303, Loss D: -0.0082
Epoch 86, Loss G: -1.5484, Loss D:  0.0878
Epoch 87, Loss G: -1.5343, Loss D:  0.1280
Epoch 88, Loss G: -1.5232, Loss D:  0.0763
Epoch 89, Loss G: -1.4123, Loss D: -0.2057
Epoch 90, Loss G: -1.5330, Loss D:  0.0022
Epoch 91, Loss G: -1.6244, Loss D: -0.1194
Epoch 92, Loss G: -1.7982, Loss D: -0.0701
Epoch 93, Loss G: -1.8482, Loss D: -0.1009
Epoch 94, Loss G: -1.7261, Loss D: -0.0373
Epoch 95, Loss G: -1.3364, Loss D:  0.1314
Epoch 96, Loss G: -1.2666, Loss D: -0.0494
Epoch 97, Loss G: -1.3880, Loss D:  0.1032
Epoch 98, Loss G: -1.4567, Loss D: -0.0871
Epoch 99, Loss G: -1.6831, Loss D: -0.0752
Epoch 100, Loss G: -1.7811, Loss D:  0.0095

In [12]:
conditions = {"Churn": 1}

In [13]:
samples = ctgan.sample(5584,condition_column=conditions)

In [14]:
print(samples["Churn"].value_counts())

No     5156
Yes     428
Name: Churn, dtype: int64

In [15]:
print(data["Churn"].value_counts())

No     5305
Yes     279
Name: Churn, dtype: int64

In [16]:
from table_evaluator import load_data, TableEvaluator

In [17]:
table_evaluator =  TableEvaluator(data, samples, cat_cols= categorical_features)

In [18]:
table_evaluator.evaluate(target_col = 'Churn')

Classifier F1-scores and their Jaccard similarities::
                             f1_real  f1_fake  jaccard_similarity
index
DecisionTreeClassifier_fake   0.8299   0.8496              0.6835
DecisionTreeClassifier_real   0.8800   0.8747              0.7688
LogisticRegression_fake       0.9266   0.9266              1.0000
LogisticRegression_real       0.9382   0.9373              0.9982
MLPClassifier_fake            0.9266   0.9266              1.0000
MLPClassifier_real            0.9382   0.9382              1.0000
RandomForestClassifier_fake   0.9114   0.9176              0.9528
RandomForestClassifier_real   0.9311   0.9293              0.9683

Privacy results:
                                           result
Duplicate rows between sets (real/fake)  (634, 0)
nearest neighbor mean                      0.6271
nearest neighbor std                       0.8045

Miscellaneous results:
                                  Result
Column Correlation Distance RMSE  0.0238
Column Correlation distance MAE   0.0117

Results:
                                                result
Basic statistics                                0.9762
Correlation column correlations                 0.4355
Mean Correlation between fake and real columns  0.6877
1 - MAPE Estimator results                      0.9951
Similarity Score                                0.7736

In [22]:
samples.to_csv('synthetic.csv', sep='\t')